$solid-color: #414557;
$solid-color-inverted: invert($solid-color);
$background-color: #ffffff;
$dark-text-color: #414557;
$light-text-color: #999daa;
$lightest-text-color: #ffffff;
$white-text-color: $background-color;
$text: $dark-text-color;
$link-color: $solid-color;

$title-font: "Helvetica Neue";
$text-font: "Georgia";
$funky-font: "Satisfy";

$footer-height: 40px;

$biggest-font-size: 60px;
$huge-font-size: 38px;
$big-font-size: 34px;
$medium-font-size: 26px;
$small-font-size: 22px;

@include sticky-footer($footer-height, "#wrapper", "#push", "#footer");

@mixin link {
	color: $link-color;
	background: none;
	border: none;
	font: inherit;
	font-size: $small-font-size;
	cursor: pointer;
	padding: 0;
	text-decoration: underline;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: $background-color;
	font-size: $small-font-size;
}

.container {
	border: 0px !important;
	padding: 0px !important;
}

header {
	color: $dark-text-color;
	font-family: $title-font;
	a {
		color: $dark-text-color;
		font-size: $big-font-size;
		text-decoration: none;
		text-align: left;
	}
	p {
		font-size: $small-font-size;
		color: $light-text-color;
	}
	#left-header {
		margin: 20px 0px 0px;
		float: left;
	}
	#right-header {
		margin: 20px 0px 0px;
		float: right;
		a {
			color: $link-color;
			margin-left: 18px;
			float: left;
			font-size: $small-font-size;
			text-decoration: none;
		}
	}
}

.about-me {
	color: $lightest-text-color;
	margin-top: 30px;
	line-height: 1.3em;
	text-align: justify;
	p {
		font-size: $small-font-size;
		font-family: $text-font;
	}
	h2 {
		margin: 0px 0px 20px;
		font-size: $big-font-size;
		font-family: $title-font;
		text-align: left;
	}
	a {
		color: $lightest-text-color;
	}
}

.pitch {
	color: $dark-text-color;
	font-family: $title-font;
	h1 {
		margin: 0px 0px 20px;
		font-size: $biggest-font-size;
		text-align: center;
	}
	p {
		margin: 20px 0px 5px;
		font-size: $medium-font-size;
		text-align: center;
		color: $light-text-color;
	}
}

.full-width-block {
	margin-top: 20px;
	width: 100%;
	background-color: $solid-color;
	padding: 30px 0px 30px;
}

footer {
	min-height: 25px;
	color: $dark-text-color;
	font-size: $small-font-size;
	margin-top: 50px;
	.left {
		float: left;
		margin-right: 30px;
	}
	.right {
		float: right;
		margin-left: 30px;
	}
	a {
		text-decoration: none;
		color: $dark-text-color;
	}
}

.twitter {
	margin-top: 50px;
	.twitter-timeline {
		width: 100%;
	}
}